.hero-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
      ul.site-nav {
        list-style-type: none;
    }
    ul.site-nav li {
        display: inline-block;
        border: 1px solid black;
        padding: 1em;
        margin: 0 2em;
    }
 
      .row {
        display: flex;
        margin-bottom: 50px;
        background-color: black;
    }
    
    .col {
        flex: 1;
        text-align: center;
        margin: 10px;
        border: 2px solid rgb(0, 0, 0);
        padding: 5px;
        background-color: white;
    }
  
    
    h1.about {
        font-family:'Lucida Sans', sans-serif;
        font-size: 25px;
    }
    p.description {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    h1.products {
        font-family:'Lucida Sans', sans-serif;
        font-size: 40px;
        text-align: center;

    }
    div.col {
        font-family: Verdana, sans-serif;
        font-size: 20px;
    }
    
    img.cakesh {
        position: relative;
        float: left;
        width:  272px;
        height: 272px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
}
img.cookiesh {
    position: relative;
    float: left;
    width:  272px;
    height: 272px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.browniesh {
    position: relative;
    float: left;
    width:  272px;
    height: 272px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.doughnutsh {
    position: relative;
    float: left;
    width:  272px;
    height: 272px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
h3.email {
    font-family: "Noto Sans", sans-serif; 
    font-size: 30px;
}
h3.contact {
    font-family: "Noto Sans", sans-serif; 
    font-size: 30px;
}
h4.follow {
    font-family: "Noto Sans", sans-serif; 
    font-size: 30px;
}
h1.story {
    text-align: center;
    color: black;
    font-size: 70px;
    font-family: "Georgia", serif;
}
h2.about-becca {
    text-align: center;
    color: black;
    font-size: 30px;
}
p.me {
    text-align: center;
    color: black; 
    font-family: "American Typewriter", serif; 
}
img.becca {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 700px;
}
h3.mission {
    text-align: center;
    color: black;
    font-size: 30px;
}
p.mission {
    text-align: center;
    color: black;
    font-family: "American Typewriter", serif; 
}
h3.vision {
    text-align: center;
    color: black;
    font-size: 30px;
}
p.vision {
    text-align: center;
    color: black;
    font-family: "American Typewriter", serif; 
}
h3.benefits {
    text-align: center;
    color: black;
    font-size: 30px;
}
p.benefits {
    text-align: center;
    color: black;
    font-family: "American Typewriter", serif; 
}
img.cakes2 {
    position: relative;
    float: left;
    width:  272px;
    height: 272px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.cookies2 {
    position: relative;
    float: left;
    width:  272px;
    height: 272px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.brownies2 {
    position: relative;
    float: left;
    width:  272px;
    height: 272px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.doughnuts2 {
    position: relative;
    float: left;
    width:  272px;
    height: 272px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
h1.browse {
    text-align: center;
    font-family: "Lucida Console", monospace;
    font-size: 70px;
}
input.search {
   float: right;
}
img.cakes3 {
    height: 370px;
    width: 410px;
}
img.cupcakes3 {
    height: 370px;
    width: 410px;
}
img.cake-balls3 {
    height: 370px;
    width: 410px;
}
h1.cakemore {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    border: 5px dotted black; 
}
img.chip {
    position: relative;
    float: left;
    width:  400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.double {
    position: relative;
    float: left;
    width:  400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.m-m {
    position: relative;
    float: left;
    width:  400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.oatmeal {
    position: relative;
    float: left;
    width:  400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.macaroon {
    position: relative;
    float: top;
    width:  400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.cookiecup {
    position: absolute;
    float: right;
    width:  400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
div.container {
    text-align: bottom;
}
h1.cookiemacs {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    border: 5px dotted black; 
}

img.brownies {
    position: relative;
    float: left;
    width:  400px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
img.seasalt {
    position: relative;
    float: left;
    width:  400px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.smores {
    position: relative;
    float: left;
    width:  400px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.caramel {
    position: relative;
    float: left;
    width:  400px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.blondie {
    position: relative;
    float: top;
    width:  400px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
img.layerbar {
    position: absolute;
    float: right;
    width:  400px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
h1.browniesmore {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    border: 5px dotted black; 
}
img.doughnuts {
    height: 370px;
    width: 410px;
}
img.chocglazed {
    height: 370px;
    width: 410px;
}
img.redvelvet {
    height: 370px;
    width: 410px;
}
h1.doughnuts {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    border: 5px dotted black; 
}
